{% extends "base.html" %}

{%  block content %}

<div>
  <h3 style="font-family:'Viga';font-size:'20px';color:white; margin-top:20px;">Search Profile</h3>
    <form action="{% url 'search_prof' %}" method="get">
         <div class="form-group col-md-3" style="margin:auto;">
    <input type="text" class="form-control" id="formGroupExampleInput" name="q" placeholder="Enter Profile Name...">
  </div>
</form>
</div>
    <h3 style="font-family:'Viga';font-size:'20px';color:white; margin-top:30px;">List of Profiles</h3>
<div class="container">
<div class="row">

    {% for user in pawn %}
    <div class="col-4">
    <div class="card">
  <h5 class="card-header">{{user.first_name}} {{user.last_name}}</h5>

  <div class="card-body">
         <p class="card-text">Amount : {{user.amount}}</p>
          <p class="card-text">Interest : {{user.interest}}</p>
          <p class="card-text">Total Months : {{user.month}}</p>
    <a href="{% url 'profile.detail' pk=user.id %}" class="btn btn-primary">View Profile</a>
  </div>
</div>
    <br/>
    </div>
    {% endfor %}
</div>
    </div>
{% endblock %}